.my-class{
  color: red;
  font-family: fantasy;
  width 300px;
}

h1{
  text-align: center;
}
.sidebar{
  width:25%;
  float: right;
  background-color: black;
}
.band-name{
  font-size: 45px;
  font-weight: bold;
  font-family: inherit;
  color: black;
}
img{
  float:center;
  padding: 20px;
  margin:10px;
  border: 5px solid red;
background-color: black;
}
